{% extends 'base.html' %}
{% block page-title %}
Login
{% endblock %}
{% block page-header %}
登录页面
{% endblock %}
{% block page-content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-header" method="post" action="/login_action/">
				<fieldset>
					   <div class="form-group">
                                <input class="form-control input-lg" name="account" id="account" type="text"
                                       placeholder="Your Account">
                            </div>
                            <br>
                            <div class="form-group">
                                <input class="form-control input-lg" name="password" id="password" type="password"
                                       placeholder="Password">
                            </div>
                            {{ error }}
                            <br>
                            <div class="form-group last">
                                <input type="submit" id="login_submit" class="btn btn-warning btn-block btn-lg" value="Login">
                            </div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}