{% extends 'base.html' %}
{% block page-title %}
Guest Manage
{% endblock %}
{% block page-header %}

{% endblock %}
{% block page-content %}
<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/event_manage/">Guest Manage System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/event_manage/">发布会</a></li>
                <li><a href="/event_manage/">嘉宾</a></li>
            </ul>
                <!--<form class="navbar-form navbar-left" role="search" method="get" action="/search_name/">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" placeholder="name" name="name">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-default">搜索</button>-->
                <!--</form>-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ user }}</a></li>
                <li><a href="/logout/">退出</a></li>
            </ul>
        </div>
</nav>
<div class="page-header" style="padding-top: 30px;">
    <div id="navbar_next" class="collapse navbar-collapse">
        <form class="navbar-form navbar-left" role="search" method="post" action="/sign_index_action/{{ event.id }}/">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="phone" name="phone">
            </div>
            <button type="submit" class="btn btn-sucess">签到</button>
            <font color="#dc143c">
                <br>{{ hint }}
                <br>{{ guest.realname }}
                <br>{{ guest.phone }}
            </font>
        </form>
    </div>
</div>
{% endblock %}