{% extends 'base.html' %}
{% block page-title %}
Index
{% endblock %}
{% block script %}

<script type="text/javascript">
    //后续考虑重写，太渣了
    $(function () {
        //标签+属性选择所有<编辑>按钮
        edit()
        //为每一个确定按钮设置点击事件
        confirm()
        //全选/反选



        $('#select_header').click(function () {
            //判断checkbox是否选中
            var flag = this.checked;
            $('#ApiHeader input[type="checkbox"]').attr('checked', flag);
        });
        $('#select_response').click(function () {
            //判断checkbox是否选中
            var flag = this.checked;
            $('#ApiResponse input[type="checkbox"]').attr('checked', flag);
        });
        $('#select_Parameter').click(function () {
            //判断checkbox是否选中
            var flag = this.checked;
            $('#ApiParameter input[type="checkbox"]').attr('checked', flag);
        });
        //增加一行
        $('#addHeader').click(function () {
            var tables = $('#ApiHeader')
            var addtr = $("<tr>" +
                "<td><input type=\"checkbox\"></td>" +
                "<td></td>" +
                "<td></td>" +
                "<td>\n" +
                "<input type=\"button\" value=\"编辑\" class=\"btn btn-default\">\n" +
                "<input type=\"button\" value=\"确定\" class=\"btn btn-default\">\n" +
                "</td>" +
                "</tr>");

            addtr.appendTo(tables);
            $('input[value="编辑"]').on("click", edit());
            $('input[value="确定"]').on("click", confirm());
        });

        $('#addResponse').click(function () {
            var tables = $('#ApiResponse')
            var addtr = $("<tr>\n" +
                "<td><input type=\"checkbox\"></td>\n" +
                "<td></td>\n" +
                "<td></td>\n" +
                "<td><select class=\"form-control\">\n" +
                "<option value=\"string\" selected=\"selected\">string</option>\n" +
                "<option value=\"int\">int</option>\n" +
                "</select></td>\n" +
                "<td><input type=\"checkbox\"></td>\n" +
                "<td></td>\n" +
                "<td>\n" +
                "<input type=\"button\" value=\"编辑\" class=\"btn btn-default\">\n" +
                "<input type=\"button\" value=\"确定\" class=\"btn btn-default\">\n" +
                "</td>\n" +
                "</tr>");

            addtr.appendTo(tables);
            $('input[value="编辑"]').on("click", edit());
            $('input[value="确定"]').on("click", confirm());
        });
        $('#addParameter').click(function () {
            var tables = $('#ApiParameter')
            var addtr = $("<tr>\n" +
                "<td><input type=\"checkbox\"></td>\n" +
                "<td></td>\n" +
                "<td></td>\n" +
                "<td><select class=\"form-control\">\n" +
                "<option value=\"string\" selected=\"selected\">string</option>\n" +
                "<option value=\"int\">int</option>\n" +
                "</select></td>\n" +
                "<td><input type=\"checkbox\"></td>\n" +
                "<td></td>\n" +
                "<td>\n" +
                "<input type=\"button\" value=\"编辑\" class=\"btn btn-default\">\n" +
                "<input type=\"button\" value=\"确定\" class=\"btn btn-default\">\n" +
                "</td>\n" +
                "</tr>");

            addtr.appendTo(tables);
            $('input[value="编辑"]').on("click", edit());
            $('input[value="确定"]').on("click", confirm());
        });

        //删除
        $('#deleteHeader').click(function () {
            $('#ApiHeader td input[type=checkbox]').each(function () {
                if ($(this).is(":checked")) {
//                        alert($(this).val());
                    $(this).parent().parent().remove();
                }
            })

        });
        $('#deleteResponse').click(function () {
            $('#ApiResponse td input[type=checkbox]').each(function () {
                if ($(this).is(":checked")) {
//                        alert($(this).val());
                    $(this).parent().parent().remove();
                }
            })

        });
        $('#deleteParameter').click(function () {
            $('#ApiParameter td input[type=checkbox]').each(function () {
                if ($(this).is(":checked")) {
//                        alert($(this).val());
                    $(this).parent().parent().remove();
                }
            })

        });
        $('#formdata').change(function () {
            $('#textforraw').css('display', 'none');
            $('#tableforformdata').css('display', 'inline');
        });
        $('#raw').change(function () {
            $('#textforraw').css('display', 'inline');
            $('#tableforformdata').css('display', 'none');
        });
        $.ajax({
            url: '/api/get_project/',
            type: 'GET',
            dataType: "json",
            success: function (project_list) {
                $.each(project_list.value, function (index, value) {
                    option = $('<option value="' + value.project_name + '">' + value.project_name + '</option>')
                    option.appendTo($('#belong_project'))
                })
            }
        });
        $('#belong_project').change(function () {
            $('#belong_module').empty()
            var checkText = $("#belong_project").find("option:selected").text();
            $.ajax({
                url: '/api/get_module/',
                type: 'POST',
                dataType: "json",
                data: {'project_name': $("#belong_project").find("option:selected").text()},
                success: function (module_list) {
                    $.each(module_list.value, function (index, value) {
                        option = $('<option value="' + value.module_name + '">' + value.module_name + '</option>')
                        option.appendTo($('#belong_module'))
                    })
                }
            });
        })
        if($("#belong_project").find("option:selected").text()!='请选择'){
            var checkText = $("#belong_project").find("option:selected").text();
            $.ajax({
                url: '/api/get_module/',
                type: 'POST',
                dataType: "json",
                data: {'project_name': $("#belong_project").find("option:selected").text()},
                success: function (module_list) {
                    $.each(module_list.value, function (index, value) {
                        option = $('<option value="' + value.module_name + '">' + value.module_name + '</option>')
                        option.appendTo($('#belong_module'))
                    })
                }
            });
        }
       
    	   $('#save,#application').click(function () {
    		   if($('input#testcase_id').val()==""){
               $.ajax({
                   url:'/api/Save_ApiInfo/',
                   type:'POST',
                   async : false,
                   data:$("#testcase-form").serialize(),
                   dataType:"json",
                   success:function (data) {
                	   SaveApiHeaderData('ApiHeader',data.id,'/api/Save_ApiHeader/')
                	   SaveApiParameter('ApiParameter',data.id,data.requestParameterTypeName,'/api/Save_ApiParameter/')
                	   SaveApiResponse('ApiResponse',data.id,'/api/Save_ApiResponse/')
                   }
               })
    		 }else{
    			 eid=$('input#testcase_id').val()
    			 $.ajax({
                     url:'/api/Edit_ApiInfo/'+eid+'/',
                     type:'POST',
                     async : false,
                     data:$("#testcase-form").serialize(),
                     dataType:"json",
                     success:function (data) {
                  	    SaveApiHeaderData('ApiHeader',data.id,'/api/Save_ApiHeader/')
                  	    SaveApiParameter('ApiParameter',data.id,data.requestParameterTypeName,'/api/Save_ApiParameter/')
                  	    SaveApiResponse('ApiResponse',data.id,'/api/Save_ApiResponse/')
                     }
                 })
    		 }
           })
       
       $('#apiname').blur(function(){
    	   var value=$(this).val();
    	   $.ajax({
    		   url:'/api/Check_ApiName/',
    		   type:'POST',
    		   data:{'apiname':value},
    		   dataType:"json",
    		   success:function(data){
    			   if(data.status){
    				   alert("你的api名字与已有的相同,请重新输入")
    			   }
    		   }
    	   })
       })

        if($('input#testcase_id').val()!=""){
            $('h1').text("修改用例");
            {% autoescape off %}
            var info={{ results.info }};
            var headers={{ results.headers }};
			var Parameter={{ results.Parameter }};
            var Response={{ results.Response }};
            var ParameterRaw={{ results.ParameterRaw }};
            {% endautoescape %}
            if(!$.isEmptyObject(headers)){
                var tables=$('#ApiHeader')
                tables.find('td').remove()
                tables.find('tr').eq(1).remove()
                $.each(headers,function(name,value){
                    var addtr = $("<tr>" +
                        "<td><input type=\"checkbox\"></td>" +
                        "<td>"+name+"</td>" +
                        "<td>"+value+"</td>" +
                        "<td>\n" +
                        "<input type=\"button\" value=\"编辑\" class=\"btn btn-default\">\n" +
                        "<input type=\"button\" value=\"确定\" class=\"btn btn-default\">\n" +
                        "</td>" +
                        "</tr>");

                    addtr.appendTo(tables);
                    $('input[value="编辑"]').on("click", edit());
                    $('input[value="确定"]').on("click", confirm());
                });
            };

            if(!$.isEmptyObject(Parameter)){
            	 var tables = $('#ApiParameter')
                 tables.find('td').remove()
                 tables.find('tr').eq(1).remove()
                 for(var i=0;i<Parameter.length;i++){
            	     if(Parameter[i].required=='true'){
            	         var checktd="<td><input type=\"checkbox\" checked='checked'></td>\n"
                     }
                     else{
                         var checktd="<td><input type=\"checkbox\"></td>\n"
                     }
                     if(Parameter[i].type=='string'){
            	         var typetd="<option value=\"string\" selected=\"selected\">string</option>\n" +
                             "<option value=\"int\">int</option>\n"
                     }
                     else{
                         var typetd="<option value=\"string\">string</option>\n" +
                             "<option value=\"int\" selected=\"selected\">int</option>\n"
                     }
                     var addtr=$("<tr>\n" +
                         "<td><input type=\"checkbox\"></td>\n" +
                         "<td>"+Parameter[i].name+"</td>\n" +
                         "<td>"+Parameter[i].value+"</td>\n" +
                         "<td><select class=\"form-control\">\n" + typetd +
                         "</select></td>\n" + checktd+
                         "<td>"+Parameter[i].description+"</td>\n" +
                         "<td>\n" +
                         "<input type=\"button\" value=\"编辑\" class=\"btn btn-default\">\n" +
                         "<input type=\"button\" value=\"确定\" class=\"btn btn-default\">\n" +
                         "</td>\n" +
                         "</tr>");
                     addtr.appendTo(tables);
                     $('input[value="编辑"]').on("click", edit());
                     $('input[value="确定"]').on("click", confirm());


                };
            };
            if(!$.isEmptyObject(Response)){
           	 var tables = $('#ApiResponse')
                tables.find('td').remove()
                tables.find('tr').eq(1).remove()
                for(var i=0;i<Response.length;i++){
           	     if(Response[i].required=='true'){
           	         var checktd="<td><input type=\"checkbox\" checked='checked'></td>\n"
                    }
                    else{
                        var checktd="<td><input type=\"checkbox\"></td>\n"
                    }
                    if(Response[i].type=='string'){
           	         var typetd="<option value=\"string\" selected=\"selected\">string</option>\n" +
                            "<option value=\"int\">int</option>\n"
                    }
                    else{
                        var typetd="<option value=\"string\">string</option>\n" +
                            "<option value=\"int\" selected=\"selected\">int</option>\n"
                    }
                    var addtr=$("<tr>\n" +
                        "<td><input type=\"checkbox\"></td>\n" +
                        "<td>"+Response[i].name+"</td>\n" +
                        "<td>"+Response[i].value+"</td>\n" +
                        "<td><select class=\"form-control\">\n" + typetd +
                        "</select></td>\n" + checktd+
                        "<td>"+Response[i].description+"</td>\n" +
                        "<td>\n" +
                        "<input type=\"button\" value=\"编辑\" class=\"btn btn-default\">\n" +
                        "<input type=\"button\" value=\"确定\" class=\"btn btn-default\">\n" +
                        "</td>\n" +
                        "</tr>");
                    addtr.appendTo(tables);
                    $('input[value="编辑"]').on("click", edit());
                    $('input[value="确定"]').on("click", confirm());


               };
           };
        };


    });
    function SaveApiHeaderData(TableId,id,url){
    	$('#'+TableId+' tr').each(function(){
    		var tdArr=$(this).children();
    		var name=tdArr.eq(1).text();
    		var value=tdArr.eq(2).text();
    		if(name!=''&& value!=''&&name!="标签"){
    			$.ajax({
    				url:url,
    				async : false,
                    type:'POST',
                    data:{'api_id':id,'name':name,'value':value},
                    dataType:"json",
                    success:function () {

                    }
    			});
    		}
    	})
    }

    function SaveApiParameter(TableId,id,requestParameterTypeName,url){
    	if(requestParameterTypeName=='form-data'){
    		$('#'+TableId+' tr').each(function(){
    			var tdArr=$(this).children();
        		var name=tdArr.eq(1).text();
        		var value=tdArr.eq(2).text();
        		var type=tdArr.eq(3).find("option:selected").text();
        		var required=tdArr.eq(4).children().prop("checked");
        		var description=tdArr.eq(5).text();
        		if(name!=''&& value!=''&&name!="请求参数"){
        			$.ajax({
        				url:url,
        				async : false,
                        type:'POST',
                        data:{'belong_Api':id,'name':name,'value':value,'type':type,'required':required,'description':description,'requestParameterTypeName':requestParameterTypeName},
                        dataType:"json",
                        success:function () {

                        }
        			});
        		}
    		})
    	}else{
    		var data=$('#textforraw .form-control').val()
    		$.ajax({
    			url:url,
    			async : false,
    			type:'POST',
    			data:{'belong_Api':id,'data':data},
    			dataType:"json",
    			success:function(){
    				
    			}
    		})
    		
    	}
    }

    function SaveApiResponse(TableId,id,url){
    	$('#'+TableId+' tr').each(function(){
			var tdArr=$(this).children();
    		var name=tdArr.eq(1).text();
    		var value=tdArr.eq(2).text();
    		var type=tdArr.eq(3).find("option:selected").text();
    		var required=tdArr.eq(4).children().prop("checked");
    		var description=tdArr.eq(5).text();
    		if(name!=''&& value!=''&&name!="参数名"){
    			$.ajax({
    				url:url,
                    type:'POST',
                    async : false, 
                    data:{'belong_Api':id,'name':name,'value':value,'type':type,'required':required,'description':description},
                    dataType:"json",
                    success:function () {

                    }
    			});
    		}
		})
    }

    function edit() {
        $('input[value="编辑"]').click(function () {
            //获取每一个<编辑>按钮的 下标（从0开始 所以需要+1 = 按钮在表格的所在行数）
            var numId = $('input[value="编辑"]').index($(this)) + 1;
            if ($(this).parent().parent().parent().parent().attr('id') == "ApiParameter") {
                numId = numId + 1;
            }
            if ($(this).parent().parent().parent().parent().attr('id') == "ApiResponse") {
                numId = numId + 2;
            }
            //选择表格中的所有tr 通过eq方法取得当前tr
            var ttr = $('table tr').eq(numId);
            /*当前行使用find方法找到每一个td列
             each方法为每一个td设置function
             */
            ttr.find("td").each(function () {
                /*过滤 td中的元素
                 checkbox 、 button、text 不需要执行append
                 注意 return 为 跳出当前 each
                 return false 为 跳出整个 each
                 */
                if ($(this).children("input[type='checkbox']").length > 0) {
                    return;
                }
                if ($(this).children("input[type='button']").length > 0) {
                    return;
                }
                if ($(this).children("input[type='text']").length > 0) {
                    return;
                }
                if ($(this).children("input[type='checkbox']").length > 0) {
                    return;
                }
                if ($(this).children("select").length > 0) {
                    return;
                }
                var tdText = $(this).html();
                $(this).html("");
                var inputObj = $("<input type='text'>");
                inputObj.appendTo($(this));
                inputObj.css("width", "100%");
                inputObj.val(tdText);
            });
        });
    }

    function confirm() {
        $('input[value="确定"]').click(function () {
            /*通过parents方法获取<确定>按钮的父容器tr
             再为 tr中的每一个text设置function
             */
            var ttr = $(this).parents("tr");
            ttr.find('input[type="text"]').each(function () {
                var inputVal = $(this).val();
                $(this).parents('td').html(inputVal);
            })
        });
    }

</script>
{% endblock %}
{% block page-content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="display: inline-block">
            新增用例
        </h1>
        <input type="text" style="display: inline-block;visibility: hidden" id="testcase_id" value= {{ results.info.id }}></input>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <form id="testcase-form" class="form-horizontal" role="form">
            <div class="panel panel-success">
                <div class="panel-heading">
                    基本信息
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="belong_project">所属项目</label>
                                <div class="col-sm-9">
                                    <select id="belong_project" name="belong_project" class="form-control">
                                    	{% if results.context == 'NoEmpty' %}
                                    	<option value={{ results.info.belong_project }} selected="selected" style='display: none'>{{ results.info.belong_project }}</option>
                                    	{% else %}
                                        <option value="请选择" disabled="disabled"  style='display: none' selected="selected">请选择</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="belong_module">所属模块</label>
                                <div class="col-sm-9">
                                    <select id="belong_module" name="belong_module" class="form-control">
                                        {% if results.context == 'NoEmpty' %}
                                        <option value={{ results.info.belong_module }} selected="selected" style='display: none'>{{ results.info.belong_module }}</option>
                                        {% else %}
                                        <option value="请选择" disabled="disabled"  style='display: none' selected="selected">请选择</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="apiname" class="col-sm-3 control-label">接口名称</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="apiname" name="apiname"
                                           placeholder="请输入接口名称" value={{ results.info.name }}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-1 control-label">url</label>
                        <div class="col-lg-1">
                            <select id="requestType" name="requestType" class="form-control">
                                {% if results != Empty %}
                                <option value={{ results.info.requestType }} selected="selected" style='display: none'>{{ results.info.requestType }}</option>
                                <option value="get">get</option>
                                <option value="post">post</option>
                                <option value="put">put</option>
                                <option value="delete">delete</option>
                                {% else %}
                                <option value="get" selected="selected">get</option>
                                <option value="post">post</option>
                                <option value="put">put</option>
                                <option value="delete">delete</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-lg-1">
                            <select id="httpType" name="httpType" class="form-control">
                                {% if results != Empty %}
                                <option value={{ results.info.httpType }} selected="selected"  style='display: none'>{{ results.info.httpType }}</option>
                                <option value="http">http</option>
                                <option value="https">https</option>
                                {% else %}
                                <option value="http" selected="selected">http</option>
                                <option value="https">https</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="apiAddress" name="apiAddress"
                                   placeholder="请输入地址" value={{ results.info.apiAddress }}>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    请求头
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="button" value="新增" id="addHeader" class="btn btn-default">
                            <input type="button" value="删除" id="deleteHeader" class="btn btn-default">
                            <div class="table-responsive">
                                <table class="table table-striped" width="100%" id="ApiHeader">
                                    <thead>
                                    <tr>
                                        <th class="table-check"><input type="checkbox" id="select_header"></th>
                                        <th>标签</th>
                                        <th>内容</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <input type="button" value="编辑" class="btn btn-default">
                                            <input type="button" value="确定" class="btn btn-default">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    请求参数
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="width: auto">
                                    <label class="radio-inline">
                                        <input type="radio" name="requestParameterType" id="formdata"
                                               value="option1"
                                               checked>表单
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="requestParameterType" id="raw"
                                               value="option2">源数据
                                    </label>
                                </div>
                                <div class="panel-body" id="tableforformdata">
                                    <input type="button" value="新增" id="addParameter" class="btn btn-default">
                                    <input type="button" value="删除" id="deleteParameter" class="btn btn-default">
                                    <div class="table-responsive">
                                        <table class="table table-striped" width="100%" id="ApiParameter">
                                            <thead>
                                            <tr>
                                                <th class="table-check"><input type="checkbox" id="select_Parameter">
                                                </th>
                                                <th>请求参数</th>
                                                <th>参数值</th>
                                                <th>参数类型</th>
                                                <th>必填</th>
                                                <th>说明</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td></td>
                                                <td></td>
                                                <td><select class="form-control">
                                                    <option value="string" selected="selected">string</option>
                                                    <option value="int">int</option>
                                                </select></td>
                                                <td><input type="checkbox"></td>
                                                <td></td>
                                                <td>
                                                    <input type="button" value="编辑" class="btn btn-default">
                                                    <input type="button" value="确定" class="btn btn-default">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel-body" style="display: none" id="textforraw">
                                    <label>源数据</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    返回参数
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="button" value="新增" id="addResponse" class="btn btn-default">
                            <input type="button" value="删除" id="deleteResponse" class="btn btn-default">
                            <div class="table-responsive">
                                <table class="table table-striped" width="100%" id="ApiResponse">
                                    <thead>
                                    <tr>
                                        <th class="table-check"><input type="checkbox" id="select_response"></th>
                                        <th>参数名</th>
                                        <th>参数值</th>
                                        <th>参数类型</th>
                                        <th>必填</th>
                                        <th>说明</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td></td>
                                        <td></td>
                                        <td><select class="form-control">
                                            <option value="string" selected="selected">string</option>
                                            <option value="int">int</option>
                                        </select></td>
                                        <td><input type="checkbox"></td>
                                        <td></td>
                                        <td>
                                            <input type="button" value="编辑" class="btn btn-default">
                                            <input type="button" value="确定" class="btn btn-default">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="row">
                        	<a type="submit" class="btn btn-primary btn-lg" name="application" href='#'>快速测试</a>
                            <a type="submit" class="btn btn-primary btn-lg" name="application" href='/testcase_list/' id="save">保存</a>
                            <a type="submit" class="btn btn-primary btn-lg" name="application" href='#' id="application">应用</a>
                            <a type="submit" class="btn btn-primary btn-lg" name="cancel" href='/testcase_list/'>取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}