{% extends 'base.html' %}
{% block page-title %}
Index
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){

    if($('input#task_id').val()!="") {
        $('h1').text("修改用例");
    }

    laydate.render({
        elem: '#executeTime' //指定元素
        ,type: 'datetime'
    });
    $("#task_type").change(function () {
        if($(this).val()!='once'){
            $("#timediv").empty();
            $("#timediv").append('<input type="text" class="form-control " id="fixedTime" name="fixedTime">');
            laydate.render({
                elem: '#fixedTime' //指定元素
                ,type: 'time'
            });
        }else {
            $("#timediv").empty();
            $("#timediv").append('<input type="text" class="form-control " id="executeTime" name="executeTime">');
            laydate.render({
                elem: '#executeTime' //指定元素
                ,type: 'datetime'
            });
        }
    })





});
</script>
{% endblock %}
{% block page-content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            新增任务
        </h1>
        <input type="text" style="display: inline-block;visibility: hidden" id="task_id" value= {{ task_id }}></input>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form id="task_from" class="form-horizontal" role="form" action="/add_task_action/" method="post">
                            <div class="form-group">
                                <label for="task_name" class="col-sm-2 control-label">任务名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="task_name" name="task_name"
                                           placeholder="请输入任务名称" value={{ task_name }}>
                                </div>
                            </div>
                            <div class="form-group"> 
                        		<label class="col-sm-2 control-label" for="belong_project">所属项目</label>
                        		<div class="col-sm-10">
                            		<select id="belong_project" name="belong_project" class="form-control">
                                		<option value="请选择">请选择项目</option>
                                			{% for project in  projects %}
                                    			{% ifequal project belong_project %}
                                    			<option value="{{ project.project_name }}" selected="selected">{{ project.project_name }}</option>
                                    			{% else %}
                                    			<option value="{{ project.project_name }}">{{ project.project_name }}</option>
                                    			{% endifequal %}
                                			{% endfor %}
                            		</select>
                        		</div>
                    		</div>
                            <div class="form-group">
                                <label for="task_type" class="col-sm-2 control-label">类型</label>
                                <div class="col-sm-10">
                                    <select id="task_type" name="task_type" class="form-control">
                                		<option value="once">只执行一次</option>
                                		<option value="everyday">每天</option>
                                		<option value="Mon-fri">工作日</option>
                                			
                            		</select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="executeTime" class="col-sm-2 control-label">执行时间</label>
                                <div class="col-sm-10" id="timediv">
                                    <input type="text" class="form-control " id="executeTime" name="executeTime">
                                </div>
                            </div>
							<div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="submit" class="btn btn-default" name="confirm">
                                    <a type="submit" class="btn btn-default" name="cancel" href='/task_list/'>取消</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}