<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>登录</title>
    <!-- Bootstrap Styles-->
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/static/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="/static/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/static/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/static/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/js/morris/morris.js"></script>


    <script src="/static/js/easypiechart.js"></script>
    <script src="/static/js/easypiechart-data.js"></script>

    <script src="/static/js/Lightweight-Chart/jquery.chart.js"></script>

    <!-- Custom Js -->
    <script src="/static/js/custom-scripts.js"></script>
    <script src="/static/laydate/laydate.js"></script>
    <style>
        .col-center-block {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

</head>

<body>
<div id="wrapper">
    <div class="row">
        <div class="col-lg-4 col-center-block">
            <form id="login-form" class="form-horizontal" role="form" method="post" action="/login_action/">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 style="text-align: center">欢迎使用ApiRunner</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">名称</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="username" name="username"
                                           placeholder="请输入用户名"
                                           value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="password" name="password"
                                           placeholder="请输入密码" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-12">
                                <button id="btn" type="submit" class="col-sm-4">登录</button>
                                <a class="col-sm-5" style="text-align: right" data-toggle="modal"
                                   data-target="#register">立即注册</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                {{ error }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title" id="myModalLabel">
                    注册新用户
                </h3>
            </div>
            <div class="modal-body">
                <form id="register-form" class="form-horizontal" role="form" method="post" action="/register_action/">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <div class="row col-sm-offset-1">
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="register_username"
                                               name="register_username"
                                               placeholder="请输入用户名"
                                               value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row col-sm-offset-1">
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="register_email"
                                               name="register_email"
                                               placeholder="请输入邮箱" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row col-sm-offset-1">
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="register_password"
                                               name="register_password"
                                               placeholder="请输入密码" value="">
                                    </div>
                                </div>
                            </div>


                            <div class="row col-sm-offset-1">
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="repeat_register_password"
                                               name="repeat_register_password"
                                               placeholder="请再输入密码" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-12">
                                    <button id="register_btn" type="submit" class="col-sm-offset-3 col-sm-3">注册</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ register_error }}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal --></div>

</body>

</html>